{
  CIDER: {
    dependencies: {
      nuget: "",
      tatin: "",
    },
    dependencies_dev: {
      tatin: "",
    },
    distributionFolder: "",
    init: "",
    make: "",
    parent: "#",
    projectSpace: "quapl",
    project_url: "",
    source: "APLSource",
    tests: "TestCases.RunTests",
  },
  LINK: {
    forceFilenames: 1,
    watch: "ns",
  },
  SYSVARS: {
    io: 1,
    ml: 1,
  },
  USER: {
  },
}
